.clock {
  width: 15rem;
  height: 15rem;
  background-color: rgb(247, 247, 247);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  border-radius: 50%;
  border: 5px solid black;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.clock-img {
  height: 2rem;
  width: 2rem;
}

.header {
  display: flex;
  align-items: center;
  margin-top: 10px
}

.header-title {
  margin-left: 10px;
}

@media (max-width: 900px) {
  .App {
    flex-direction: column;
  }
}